md-card{
	border-radius: 4px !important;
}

md-input-container {
	.md-errors-spacer {
		min-height: 0 !important;
    }
}

.md-button{
	text-transform: initial;
	padding: 0 10px;
	border-radius: 4px;
}